asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
Django==3.1.4
django-extensions==3.1.0
graphviz==0.15
iniconfig==1.1.1
packaging==20.7
pluggy==0.13.1
psycopg2==2.8.6
py==1.9.0
pydevd-pycharm==203.5981.165
pyparsing==2.4.7
pytest==6.1.2
pytz==2020.4
sqlparse==0.4.1
toml==0.10.2
