{% extends 'shared/base.html' %}

{% block site_content %}

<h2>Изпит</h2>

    <form action="{% url 'exam result' %}" method="POST">
    {% csrf_token %}
    <div class="question">
    {% for question in questions %}
        <p>{{ question.question }} - {{ question.id }}</p>
            {% for choice in choices %}
                {% if choice.fk_question_id.id == question.id %}
                    <label for="q_{{ choice.id }}"><input type="radio" name="q_{{ question.id }}" value="{{ choice.id }}">{{ choice.choice }}</label>
                {% endif %}
            {% endfor %}
        <br>
    {% endfor %}
    </div>
    <button>Предай</button>
    </form>

{% endblock %}