{% extends 'shared/base.html' %}

{% block site_content %}
<h2>Профил</h2>

{{ user.username }}

    <hr>

    <p>Последни резултати</p>
    <table border="1">
        <tr>
            <td>точки</td>
            <td>брой въпроси</td>
        </tr>
        {% for result in results %}
            <tr>
            <td>
            {{ result.result }}
            </td>
            <td>
            {{ result.questions_count }}
            </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}